html,
body {
    padding: 0;
    margin: 0;
    place-content: center;
    background-color: #fb97cb;

}

html {
    font-family: font, monospace;
    letter-spacing: 2px;
    /* word-spacing: 2px; */
    font-size: 1.1em;
}

@font-face {
    font-family: font;
    src: url(font.woff2) format("woff2"),
        url(font.woff) format("woff"),
        url(font.ttf) format("ttf");
    font-display: swap;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
}

.back {
    width: 100%;
    height: 100%;
    position: fixed;
}

main {
    width: fit-content;
    height: fit-content;
    display: grid;
    /* word-break: break-all; */
    position: fixed;
    /* margin: auto; */
    place-self: center;
    place-items: center;
    overflow: visible;
    place-content: center;
}



* {
    box-sizing: border-box;
}



.box {
    margin: auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: local;
    background-size: 30%;
    border: 3px solid hsl(321, 93%, 70%);
    border-radius: 10px;
    corner-shape: scoop;
    scrollbar-width: thin;
    height: 100%;
    text-align: center;
    width: 100%;
    contain-intrinsic-size: 100%;
    content-visibility: auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.box:nth-of-type(1) {
    background-image: image-set(url("pom.avif") type("image/avif"), url("pom.webp") type("image/webp"), url("pom.gif") type("image/gif"));

}

#content {
    height: 85vh;
    width: 90vw;
    margin: auto;
    overflow: visible;
    scroll-snap-type: y mandatory;
    position: relative;
    border-radius: 5px;
    overflow-y: scroll;
    /* scrollbar-width: none; */
    max-width: 800px;
    border: 5px solid hsla(321, 90%, 79%, 0.95);
    background: #fa9bd9;
    --scrollbar-color: hsl(321, 93%, 79%);
    --scrollbar-thumb-color: #3a3831;
    scrollbar-width: thin;
    background: linear-gradient(8deg, rgba(250, 155, 217, .89) 1%, rgba(235, 178, 215, .89) 99%);
}

#line {
    display: flex;
    place-content: space-between;
    bottom: 10px;
    position: fixed;
    place-items: center;
    width: 100%;
    gap: 30%;
}

#cn {
    transform: translateX(20px) scale(1.3);
}

.sticker {
    width: 20vw;
    max-width: 170px;
    bottom: -770px;
    position: relative;
    --user-select: none;
    animation: hop 2s ease-in-out infinite alternate
}

/*${
return Array.from({length:2}, (_, i) => 
`.float:nth-of-type(${++i}) {
    animation: jump ${800}ms ease-out forwards;
    animation-delay: ${i * 400}ms
}`)
.join('')
}*/
#kuromi {
    left: -10px;
    width: 38vw;
    max-width: 290px;
    bottom: -780px;
    /* filter: drop-shadow(calc(var(--c-STICKER_SHIFT) * -1) var(--c-STICKER_SHIFT) 1px var(--c-STICKER_COLOR)) */
}

@keyframes throb {
    0% {
        background-size: 100px
    }

    100% {
        background-size: 85px
    }
}

#hello::before,
#hello::after {
    background-image: image-set(url("kitty.avif") type("image/avif"));
    width: 50px;
    background-size: 100px;
    background-position: center;
    vertical-align: bottom;
    height: 50px;
    content: "";
    display: inline-block;
    margin-inline: -4px;
    transform: rotate(25deg);
    animation: throb 1s ease-in-out alternate infinite
}
@media screen and (width < 780px) {
    p {
        margin: 10px
    }
}
#hello::after {
    transform: rotateY(180deg) rotateZ(25deg);
    animation-direction: alternate-reverse;
    margin-inline: -6px;
    content: "" / "hello kitty sticker";
}

#bow {
    --user-select: none;
    /* transform: rotate(10deg); */
    position: absolute;
    top: -40px;
    pointer-events: none;
    right: -30px;
    width: 80px;
    z-index: 2;
    animation-delay: 1s;
    animation: bow 1s ease-in-out infinite alternate
}

@keyframes bow {
    0% {
        transform: rotate(8deg)
    }

    100% {
        transform: rotate(-8deg)
    }
}

@keyframes hop {
    0% {
        transform: translate(0, -10px)
    }

    100% {
        transform: translate(0, 10px)
    }
}

#mel {
    right: 30px;
    animation-direction: alternate-reverse;
}

h1 {
    font-size: 1.8em;
}

@keyframes jump {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-800px)
    }
}

#bg {
    background-image: url(bg.jpeg);
    background-image: image-set(url("bg.avif") type("image/avif"), url("bg.webp") type("image/webp"), url("bg.jpeg") type("image/png"));
    background-size: 760px 760px;
    background-color: #fb97cb;
    animation: bg 40s linear infinite;
    will-change: background-position-y;
}

@keyframes bg {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -760px
    }
}